<!DOCTYPE html>
<html lang="en" {% if request.session.is_rtl %}dir="rtl"{% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}QUT Archive{% endblock %}</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .font-vazirmatn {
            font-family: 'Vazirmatn', sans-serif;
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-sky-50 min-h-screen {% if request.session.is_rtl %}font-vazirmatn{% endif %}">
    {% block content %}{% endblock %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
